<footer class="footer">
    <div class="footer__wrapper">
      <div class="footer__link">
        <a href="#" class="footer__link-item">Политика конфиденциальности</a>
        <a href="#" class="footer__link-item">Условия использования</a>
        <a href="#" class="footer__link-item">Продажа и возврат</a>
        <a href="#" class="footer__link-item">Юридическая информация</a>
      </div>

      <div class="footer__social">
        <a href="#" class="footer__social-item">
          <img src="https://wmpics.pics/dm-X1QN.png" alt="facebook" />
        </a>
        <a href="#" class="footer__social-item">
          <img src="https://wmpics.pics/dm-W5LA.png" alt="instagram" />
        </a>
        <a href="#" class="footer__social-item">
          <img src="https://wmpics.pics/dm-ZL6K.png" alt="linkedin" />
        </a>
        <a href="#" class="footer__social-item">
          <img src="https://wmpics.pics/dm-ZL6K.png" alt="twitter" />
        </a>
      </div>
    </div>
</footer>