<header class="header">
    <div class="header__wrapper">
        <div class="header__logo">
        <a href="#">
            <img src="https://svgshare.com/i/b1J.svg" alt="logo" />
        </a>
        </div>
        <nav class="header__nav">
            <ul class="header__nav-menu">
                <li class="menu_item"><a href="#" class="menu_link" routerLink='/shop' >Главная</a></li>
                <li class="menu_item"><a href="#" class="menu_link" routerLink='/shop'>iPhone</a></li>
                <li class="menu_item"><a href="#" class="menu_link" routerLink='/shop'>Watch</a></li>
                <li class="menu_item"><a href="#" class="menu_link" routerLink='/shop'>iPad</a></li>
                <li class="menu_item"><a href="#" class="menu_link" routerLink='/shop'>Mac</a></li>
                <li class="menu_item menu_item-bag">
                    <div class="menu_link-bag" (click) = "showCart()" routerLink='/cart'></div>
                </li>
            </ul>
        </nav>
    </div>
</header>
