    <section>
    <div class="counter">
        <div class="counterBtn">
        <button type="button" class="jsDecrease">-</button>
        <input
            type="text"
            class="jsValue"
            value="1"
            data-price="1000"
            maxlength="4"
        />
        <button type="button" class="jsIncrease">+</button>
        </div>
    </div>
    </section>