  <section class="watch">
    <div class="container">
      <h1>Apple Watch Series 7</h1>
      <div class="watch__series7">
        <img
          class="watch__series7"
          src="https://mobiltelefon.ru/photo/september21/14/anons_apple_watch_series_7__gigantskij_ekran_v_prochnejshem_korpuse_picture2_0_resize.jpg"
          alt="Watch"
        />
      </div>
      <div class="watch__information">
        <div class="watch__photo">
          <img src="https://wmpics.pics/dm-X6AZ.png" alt="apple" />
        </div>
        <h2>Показывают максимум.</h2>
        <ul class="watch__benefits">
          <li class="watch__benefits-item">Большой продвинутый дисплей.</li>
          <li class="watch__benefits-item">
            Самые прочные Apple Watch в истории.
          </li>
          <li class="watch__benefits-item">
            Мощные инновации для заботы о здоровье.
          </li>
          <li class="watch__benefits-item">
            Более быстрая зарядка: до 33% быстрее.
          </li>
        </ul>
      </div>
    </div>
  </section>